<section class="parte2">
    <div id="contenedor">            
        <img src="assets/imagenes/imagen2.jpg " alt="">
    </div>
    <div id="informacion2">
    <header>
        <h2>Acerca de Nosotros</h2>                
        <h1>Heladería los Álamos</h1>
    </header>
        <p>Savedra de la Cueva Rolando Esteban dedicada a actividades de heladería. Inició sus actividades comerciales el 17/12/2013 como PERSONAS NATURALES. Los helados son hechos de fruta natural elaborados de forma tradicional en paila 100% naturales 100% machacheños y 100% ricos</p>
        <p>Si deseas conocer más sobre este negocio, puedes llamar y solicitar información de sus productos y servicios. No olvides preguntar por sus ofertas, descuentos y especiales del momento.</p>
        <br><br>
        <button>Más información</button>        
    </div> 
</section>