 <article class="informacion">
            <section id="contactos">
                <br>
                <img src="assets/imagenes/direccion.png" alt="">
                <h1>Direccion</h1>
            <section id="contactos">
                <h2><a href="https://goo.gl/maps/UQ3WtLz2gtTBsoUN8"> Av. 10 de Agosto y Luis Cordero</a></h2>
            </section>
            
        <div class="espacio"></div>
            <section id="contactos">
                <img src="assets/imagenes/email.png" alt="">
                <h1>E-mail</h1>
                <h2><a href="mailto:losAlamosHeladeria@hotmail.com">losAlamos</a></h2>
            </section>
            
        <div class="espacio"></div>
            <section id="contactos">
                <img src="assets/imagenes/telefono.png" alt="">
                <h1>Teléfono</h1>
                <h2><a href="tel:+59322316790">(02) 231-6790</a></h2>
            </section>
            <br><br> 
        </article>     