<main>
    <header class="encabezado1">
        <div class="parte1">
            <h3>Mas de 8 años de Experiencia</h3>
            <h1>Dulces Deliciosos Naturales Helados</h1>
            <button>Explorar</button>        
        </div>
    </header>